<h1>Account Created! This is your information.</h1>
<p>
  <strong>Username:</strong>
  <%= @login.username %>
</p>
 
<p>
  <strong>Password:</strong>
  <%= @login.password %>
</p>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>